div.fieldForm {
  margin-bottom: 1.5em;
  max-width: 400px;
  display: flex;
  .inputField {
    position: relative;
    display: flex;
    input {
      width: 100%;
      border: none;
      outline: none;
    }

    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid dimgrey;
    min-width: 150px;
    &:hover {
      border-bottom: 2px solid dimgrey;
    }
  }
}
