.paddingLeftSmall {
  padding-left: 1em;
}

.paddingRightSmall {
  padding-right: 1.5em;
}

.paddingLeftStandard {
  padding-left: 1.5em;
}

.marginTopStandard {
  margin-top: 2.5em;
}

.flex {
  display: flex;
}

.centerElements {
  text-align: center;
}

.centerSelf {
  align-self: center;
}

.spaceElements {
  display: flex;
  place-content: space-between;
  align-items: center;
}

.colorTextInverse {
  color: white;
  font-size: 14px;
}

.smallText {
  font-size: 0.8em;
}

.fullwidth {
  width: 100%;
}

.fullScreen {
  min-height: 100%;
}

div.header {

  .title {
    font-size: 1.5em;
  }

  .icon {
    cursor: pointer;
    padding-right: 1em;
  }
}

.tooltip {
  padding-right: 5px;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  white-space: nowrap;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 600px) {
  body {
    font-size: 8px;
  }

  .paddingLeftStandard {
    padding-left: 1em;
  }
}


@media (max-width: 750px) {
  div.fieldForm{
    flex-wrap: wrap;
  }
}
