.table {

  border-collapse: collapse;
  width: 100%;
  cursor: pointer;

  tr {
    text-transform: capitalize;
  }

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

}
